* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 280px 70px;
  width: 770px;
  height: 370px;
  opacity: 100%;
  border-radius: 8px;
  box-shadow: -1px 3px 13px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -1px 3px 13px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -1px 3px 13px 0px rgba(0, 0, 0, 0.38);
  overflow: hidden;
}

.content__sillon {
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

.content__sillon--img {
  margin-top: 30px;
  width: 450px;
  height: 285px;
  object-fit: contain;
}

.content__flechas {
  height: 45px;
  width: 90px;
  grid-column: 1;
  align-self: flex-start;
  justify-self: center;
}

.content__flechas--img1 {
  transform: rotateY(180deg);
  padding-left: 5px;
}

[class^="content__flechas--img"]:hover {
  cursor: pointer;
}

.content__titulo {
  font-family: "Montserrat", sans-serif;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: flex-start;
  justify-self: left;
  margin-top: 30px;
  color: #666666;
}

.content__parrafo {
  width: 310px;
  height: 110px;
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: center;
  margin-top: 10px;
  font-size: 16px;
  justify-self: left;
  font-family: "Noto Sans", sans-serif;
  color: #666666;
}

.content__circles {
  height: 50px;
  width: 120px;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-top: 40px;
}

[class^="content__circles--inputs"] {
  width: 20px;
  height: 20px;
}

/* inputs de colores */

#circle-1::before,
#circle-2::before,
#circle-3::before,
#circle-4::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#circle-1::before {
  background-color: #5a90bc;
}

#circle-2::before {
  background-color: #cccccc;
}

#circle-3::before {
  background-color: #666666;
}

#circle-4::before {
  background-color: #ffedda;
}

.content__circles--inputs1:checked.content__circles--inputs1::before,
.content__circles--inputs2:checked.content__circles--inputs2::before,
.content__circles--inputs3:checked.content__circles--inputs3::before,
.content__circles--inputs4:checked.content__circles--inputs4::before {
  box-sizing: border-box;
  border: 2px solid white;
  box-shadow: -1px -13px 15px -9px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -1px -13px 15px -9px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px -13px 15px -9px rgba(0, 0, 0, 0.7);
}

.content__rectangulo {
  align-self: center;
  display: flex;
}

.content__rectangulo--precio {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  padding-right: 30px;
}

.content__rectangulo--boton {
  width: 132px;
  height: 42px;
  margin-left: 74px;
  background-color: #88c9f6;
  border-radius: 6px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  outline: none;
  border: 1px solid white;
  cursor: pointer;
}

.content__rectangulo--boton:active {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-rows: 255px 65px;
    width: 650px;
    height: 320px;
  }
  .content__sillon--img {
    margin-top: 20px;
    width: 350px;
    height: 255px;
  }
  .content__rectangulo--precio {
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .main {
    display: grid;
  }
  .content {
    grid-template-columns: 450px;
    grid-template-rows: 200px 50px 50px 50px 140px 80px;
    width: 450px;
    height: 600px;
    margin: 0;
  }
  .content__sillon--img {
    margin-top: 20px;
    width: 350px;
    height: 200px;
  }
  .content__titulo {
    grid-column-start: 1;
    grid-row-start: 4;
    align-self: center;
    justify-self: center;
  }
  .content__parrafo {
    grid-column-start: 1;
    grid-row-start: 5;
    font-size: 16px;
    justify-self: center;
  }
  .content__circles {
    height: 50px;
    width: 120px;
    justify-self: center;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .content__rectangulo {
    justify-content: space-evenly;
  }
  .content__rectangulo--boton {
    margin-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .main {
    display: grid;
  }
  .content {
    grid-template-columns: 330px;
    grid-template-rows: 200px 50px 50px 50px 140px 80px;
    width: 330px;
    height: 600px;
    margin: 0;
  }
  .content__sillon--img {
    margin-top: 20px;
    width: 300px;
    height: 200px;
  }
  .content__titulo {
    grid-column-start: 1;
    grid-row-start: 4;
    align-self: center;
    justify-self: center;
  }
  .content__parrafo {
    grid-column-start: 1;
    grid-row-start: 5;
    font-size: 16px;
    justify-self: center;
  }
  .content__circles {
    height: 50px;
    width: 120px;
    justify-self: center;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 0;
  }

  .content__rectangulo {
    justify-content: space-evenly;
  }
  .content__rectangulo--boton {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  .main {
    display: grid;
  }
  .content {
    grid-template-columns: 330px;
    grid-template-rows: 200px 50px 50px 50px 140px 80px;
    width: 330px;
    height: 600px;
    margin: 0;
  }
  .content__sillon--img {
    margin-top: 20px;
    width: 300px;
    height: 200px;
  }
  .content__titulo {
    grid-column-start: 1;
    grid-row-start: 4;
    align-self: center;
    justify-self: center;
  }
  .content__parrafo {
    grid-column-start: 1;
    grid-row-start: 5;
    font-size: 16px;
    justify-self: center;
  }
  .content__circles {
    height: 50px;
    width: 120px;
    justify-self: center;
    display: flex;
    grid-column-start: 1;
    grid-row-start: 3;
  }
  .content__rectangulo {
    justify-content: space-evenly;
  }
  .content__rectangulo--boton {
    margin-left: 0;
  }
}
